.headerContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;

  background-color: var(--blue-dark);
  border-bottom: 1px solid var(--blue-light);

  section {
    max-width: 1120px;
    margin: 0 auto;
    padding: 18px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.headerLogo {
    height: 36px;
}

.headerNav {
  color: var(--black-25);

  a {
    font-size: 1.125rem;

    transition: color 0.2s;

    &:hover {
      color: var(--black-5);
    }
  }

  a + a {
    margin-left: 60px;
  }
}

.headerActivePage {
  color: var(--black-5);
  font-weight: 600;
}