.footerContainer {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-dark);

  margin-top: auto;

  span {
    font-size: 0.875rem;
  }
}