@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-unbBlack-5 text-unbBlack-5;
}

body,
input,
textarea,
select,
button {
  font-family: "Barlow", sans-serif;
}
